@model HomeVM

<footer>
    <div class="footer-subscription">
        <div class="container">
            <div class="row">
                <div class="coll-sub-4">
                    <div class="join-info">
                        <span>$20 discount for your first order</span>
                        <h3>Join our newsletter and get...</h3>
                        <span>Join our email subscription now to get updates on promotions and coupons.</span>
                    </div>
                    <div class="subscribe-form">
                        <form action="#">
                            <i class="fal fa-envelope"></i>
                            <input type="text" placeholder="Your email address" />
                            <input type="submit" value="Subscribe">
                        </form>
                    </div>
                </div>
                <div class="coll-sub-4">
                    <div class="join-info">
                        <img src="https://klbtheme.com/bacola/wp-content/uploads/2021/04/coupon.png"
                             alt="" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-advantages">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-lg-3">
                    <span><i class="fal fa-box"></i>Everyday fresh products</span>
                </div>
                <div class="col-xs-12 col-sm-6 col-lg-3">
                    <span>
                        <i class="fal fa-truck"></i>Free delivery for order over $70
                    </span>
                </div>
                <div class="col-xs-12 col-sm-6 col-lg-3">
                    <span><i class="fal fa-badge-percent"></i>Daily Mega Discounts</span>
                </div>
                <div class="col-xs-12 col-sm-6 col-lg-3">
                    <span><i class="fal fa-usd-circle"></i>Best price on the market</span>
                </div>
            </div>
        </div>
    </div>
    <div class="container"><hr></div>
    <div class="footer-menu">
        <div class="container">
            <div class="row">
                <div class="coll-2">
                    <h6>FRUIT & VEGETABLES</h6>
                    <ul>
                        <li><a href="#">Fresh vegetables</a></li>
                        <li><a href="#">Herbs & Seasonings</a></li>
                        <li><a href="#">Fresh Fruits</a></li>
                        <li><a href="#">Cuts & Sprouts</a></li>
                        <li><a href="#">Exotic Fruits & Veggies</a></li>
                        <li><a href="#">Packaged Produce</a></li>
                        <li><a href="#">Party Trays</a></li>
                    </ul>
                </div>
                <div class="coll-2">
                    <h6>Breakfast & Dairy</h6>
                    <ul>
                        <li><a href="#">Milk & Flavoured Milk</a></li>
                        <li><a href="#">Butter and Margarine</a></li>
                        <li><a href="#">Cheese</a></li>
                        <li><a href="#">Eggs Substitutes</a></li>
                        <li><a href="#">Honey</a></li>
                        <li><a href="#">Marmalades</a></li>
                        <li><a href="#">Sour Cream and Dips</a></li>
                        <li><a href="#">Yogurt</a></li>
                    </ul>
                </div>
                <div class="coll-2">
                    <h6>Meat & Seafood</h6>
                    <ul>
                        <li><a href="#">Breakfast Sausage</a></li>
                        <li><a href="#">Dinner Sausage</a></li>
                        <li><a href="#">Beef</a></li>
                        <li><a href="#">Chicken</a></li>
                        <li><a href="#">Sliced Deli Meat</a></li>
                        <li><a href="#">Shrimp</a></li>
                        <li><a href="#">Wild Caught Fillets</a></li>
                        <li><a href="#">Crab and Shellfish</a></li>
                        <li><a href="#">Farm Raised Fillets</a></li>
                    </ul>
                </div>
                <div class="coll-2">
                    <h6>Beverages</h6>
                    <ul>
                        <li><a href="#">Water</a></li>
                        <li><a href="#">Sparkling Water</a></li>
                        <li><a href="#">Soda & Pop</a></li>
                        <li><a href="#">Coffee</a></li>
                        <li><a href="#">Milk & Plant-Based Milk</a></li>
                        <li><a href="#">Tea & Kombucha</a></li>
                        <li><a href="#">Drink Boxes & Pouches</a></li>
                        <li><a href="#">Craft Beer</a></li>
                        <li><a href="#">Wine</a></li>
                    </ul>
                </div>
                <div class="coll-2">
                    <h6>Breads & Bakery</h6>
                    <ul>
                        <li><a href="#">Milk & Flavoured Milk</a></li>
                        <li><a href="#">Butter and Margarine</a></li>
                        <li><a href="#">Cheese</a></li>
                        <li><a href="#">Eggs Substitutes</a></li>
                        <li><a href="#">Honey</a></li>
                        <li><a href="#">Marmalades</a></li>
                        <li><a href="#">Sour Cream and Dips</a></li>
                        <li><a href="#">Yogurt</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-12 col-xs-12">
                    <div class="icon-phone">
                        <i class="fal fa-phone"></i>
                    </div>
                    <div class="phone-number">
                        <p>8 800 555-55</p>
                        <span>Working 8:00 - 22:00</span>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-12 col-xs-12">
                    <div class="row">
                        <div class="col-lg-9 col-sm-12 col-xs-12">
                            <div class="row">
                                <div class="col-lg-6 col-sm-6 col-xs-12">
                                    <p>Download App on Mobile :</p>
                                    <span>15% discount on your first purchase</span>
                                </div>
                                <div class="col-lg-6 col-sm-6 col-xs-12">
                                    <a href="#">
                                        <img src="https://klbtheme.com/bacola/wp-content/uploads/2021/04/google-play.png"
                                             alt="" />
                                    </a>
                                    <a href="#">
                                        <img src="https://klbtheme.com/bacola/wp-content/uploads/2021/04/app-store.png"
                                             alt="" />
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-12 col-xs-12">
                            <i class="fab fa-facebook-f"></i>
                            <i class="fab fa-twitter"></i>
                            <i class="fab fa-instagram"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container"><hr></div>
    <div class="footer-privacy-terms">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-12 col-xs-12">
                    <div class="icon-phone">
                        <p>
                            Copyright 2022 © Bacola WordPress Theme. All rights
                            reserved. Powered by KlbTheme.
                        </p>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-12 col-xs-12">
                    <div class="row">
                        <div class="col-lg-6 col-sm-6 col-xs-12">
                            <a href="#">Privacy Policy</a>
                            <a href="#">Terms and Conditions</a>
                            <a href="#">Cookie</a>
                        </div>
                        <div class="col-lg-6 col-sm-6 col-xs-12">
                            <div class="payment-methods">
                                <a href="#">
                                    <img src="https://klbtheme.com/bacola/wp-content/uploads/2021/04/payments.jpg"
                                         alt="" />
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

